.preloader {
  position: fixed;
  inset: 0;
  background-color: var(--black-clr);
  z-index: 50;
  place-content: center;

  & > img {
    margin-inline: auto;
    width: 15rem;
    height: 15rem;
  }
}

.section {
  &__img {
    width: 21rem;
    height: 13rem;
    box-shadow: 0px 4px 10px 0px hsla(0, 2.55%, 75.8%, 0.5);
  }
}

.modal {
  &__sub-container {
    gap: 2.5rem;
    width: 75vw;
  }

  &__main-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 4%;
    top: 3%;

    &__icon {
      color: var(--white-clr);
      font-size: 3rem;
    }
  }

  .rest {
    overflow-x: scroll;
    gap: 0.75rem;

    &__img {
      width: 9rem;
      height: 5rem;
      filter: brightness(0.3);
    }
  }

  .rest::-webkit-scrollbar {
    display: none;
  }
}

.arr {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0%, -100%);

  &__icon {
    color: var(--white-clr);
    font-size: 4rem;
  }
}

.left {
  left: 3%;
}

.right {
  right: 3%;
}
