@media only screen and (hover: hover) {
  .section__img {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
  }

  .section__img:hover {
    transform: scale(1.05);
  }

  .rest__img {
    cursor: pointer;
    filter: brightness(0.3);
    transition: filter 0.3s;
  }

  .rest__img:hover {
    filter: brightness(1);
  }
}

@media only screen and (max-width: 800px) {
  .modal {
    &__sub-container {
      gap: 2rem;
      width: 75vw;
    }

    &__main-img {
      width: 100%;
      height: 25rem;
    }

    .close {
      &__icon {
        font-size: 2.5rem;
      }
    }
  }

  .arr {
    &__icon {
      font-size: 3rem;
    }
  }

  .left {
    left: 1%;
  }

  .right {
    right: 1%;
  }
}

@media only screen and (max-width: 500px) {
  .modal {
    &__sub-container {
      gap: 2rem;
      width: 80vw;
    }

    &__main-img {
      width: 100%;
      height: 20rem;
    }

    .rest {
      gap: 0.75rem;

      &__img {
        width: 8rem;
        height: 4rem;
      }
    }
  }

  .arr {
    &__icon {
      font-size: 2.25rem;
    }
  }

  .left {
    left: 0.5%;
  }

  .right {
    right: 0.5%;
  }
}
